@import 'normalize.css';

*{
    background: black;
    box-sizing: border-box;
    color: white;
}


@font-face {
    font-family: "roboto_regular";
    src: url(roboto-regular-webfont.woff);
    src: url(roboto-regular-webfont.woff2);
    }
    
@font-face {
    font-family: "roboto_italic";
    src: url(roboto-italic-webfont.woff);
    src: url(roboto-italic-webfont.woff2);
    }
    
    
@font-face {
    font-family: "roboto_bold";
    src: url(roboto-bold-webfont.woff);
    src: url(roboto-bold-webfont.woff2);
    }
    
    
@font-face {
    font-family: "theboldfont";
    src: url(theboldfont-webfont.woff);
    src: url(theboldfont-webfont.woff2);
    }
    
    /**
Main navigation
*/
nav ul li {
    text-align: center;
    list-style: none;
    font-family: "theboldfont";
    font-size: 2em;
    display: inline-block;    
}

/**
Change colors of navigation links
*/
a:visited {
    color: white;
}
a:link {
    color: white;
    text-decoration: none;
}


header {
    padding: 1em 0 0 0;
    font-size: 100%;
    margin: 0;
}

body {
font-size: 16px;
text-align: center;
}

footer {
    text-align: center;
}

#footlogo{
    padding: 2em 0 0 0;
    max-width: 40%;
}

#sendup {
    padding: .5em .75em;
    border: 2px solid white;
    text-transform: uppercase;
}


a:visited  {
    color: white;
}
a:link {
    color: white;
    text-decoration: none;
}


.logoresize {
    max-width: 75%;
    background-color: black;

}

p {
    font-family: "roboto_regular";
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
    margin: 0 1rem;
    padding: 0 1rem;
}

.wrapper {
border: 1px solid white;
margin: 0 .5rem 1rem;
}