@import 'normalize.css';

*{
    background: black;
    box-sizing: border-box;
    color: white;
}


@font-face {
    font-family: "roboto_regular";
    src: url(fonts/roboto-regular-webfont.woff) format("woff");
    src: url(fonts/roboto-regular-webfont.woff2) format("woff2");
    }
    
@font-face {
    font-family: "roboto_italic";
    src: url(fonts/roboto-italic-webfont.woff) format("woff");
    src: url(fonts/roboto-italic-webfont.woff2) format("woff2");
    }
    
    
@font-face {
    font-family: "roboto_bold";
    src: url(fonts/roboto-bold-webfont.woff) format("woff");
    src: url(fonts/roboto-bold-webfont.woff2) format("woff2");
    }
    
    
@font-face {
    font-family: "theboldfont";
    src: url(fonts/theboldfont-webfont.woff) format("woff");
    src: url(fonts/theboldfont-webfont.woff2) format("woff2");
    }
    

.theboldfont { 
        font-family: "theboldfont";
    }    
    /**
Main navigation
*/
nav ul li {
    text-align: center;
    list-style: none;
    font-size: 2em;
    

}

nav ul {
    padding: 0;
    margin: 2em 0;
}

/**
Change colors of navigation links
*/
a:visited {
    color: white;
}
a:link {
    color: white;
    text-decoration: none;
}


header {
    padding: 1em 0 0 0;
    font-size: 100%;
    margin: 0;
}

body {
font-size: 16px;
text-align: center;
font-family: "roboto_regular";

}

footer {
    text-align: center;
}

#footlogo{
    padding: 2em 0 0 0;
    width: 40%;
}

#sendup {
    margin: 0 auto;
    width: 40%;
    padding: .5em .75em;
    border: 2px solid white;
    text-transform: uppercase;
}


a:visited  {
    color: white;
}
a:link {
    color: white;
    text-decoration: none;
}


.logoresize {
    max-width: 75%;
    background-color: black;

}

p {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.wrapper {
margin: 0 .5rem 1rem;
}