@import 'normalize.css';

*{
    background: white;
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto_regular";
    src: url(fonts/roboto-regular-webfont.woff) format("woff"),
    url(fonts/roboto-regular-webfont.woff2) format("woff2");
    }
    
@font-face {
    font-family: "roboto_italic";
    src: url(fonts/roboto-italic-webfont.woff) format("woff"),
    url(fonts/roboto-italic-webfont.woff2) format("woff2");
    }
    
    
@font-face {
    font-family: "roboto_bold";
    src: url(fonts/roboto-bold-webfont.woff) format("woff"),
    url(fonts/roboto-bold-webfont.woff2) format("woff2");
    }
    
    
@font-face {
    font-family: "theboldfont";
    src: url(fonts/theboldfont-webfont.woff) format("woff"),
    url(fonts/theboldfont-webfont.woff2) format("woff2");
    }
    
.theboldfont { 
    font-family: "theboldfont";
}
  
/**
Main navigation
*/
nav ul li {
    text-align: center;
    list-style: none;
    font-size: 2em;
    

}

nav ul {
    padding: 0;
    margin: 2em 0;
}




/**
Change colors of navigation links
*/
a:visited {
    color: black;
}
a:link {
    color: black;
    text-decoration: none;
}


header {
    padding: 1em 0 0 0;
    font-size: 100%;
    margin: 0;
    
}

body {
font-size: 16px;
text-align: center;
font-family: "roboto_regular";
}


main {
    color: black;
    margin-left: 3em;
    margin-right: 3em;
    background-color: white;
}
main div h1 {
    text-align: center;
    font-size: 4em;
}

footer {
    text-align: center;
}

#footlogo{
    
    padding: 2em 0 0 0;
    width: 40%;
}

#sendup {
    margin: 0 auto;
    width: 40%;
    padding: .5em .75em;
    border: 2px solid black;
    text-transform: uppercase;
}

/**
main page welcome  blurb
*/
.welcome {
    text-align: center;
    font-size: 1.75em;
    line-height: 1.1em;
    margin: 1 auto;
    
}

.aboutme {
    font-size: 3em;
    margin: 1em 0 .25em 0;
}

.professionalresume {
    font-size: 2em;
    margin: .5em 0 .25em 0;
}

/**
main page about me paragraphs
*/
.intro {
    margin: .75 auto;
    font-size: 110%;
    text-align: left;
    line-height: 1.5em;
}


/**
pic of self on home page
*/
#self {
    max-width: 100%;
    border: 2px solid black;
    box-shadow: 3px 3px 3px black;
}


/**
resume header resizing and height shift
*/

.resumeheader {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 1 auto;
}

/**
resume bullet listing
*/
.resume {
    text-align: left;
    font-size: 1em;
    line-height: 1.1em;
    margin: 1 auto;
}

.wrapper {
padding: 0 .5rem;
margin-bottom: 2rem;

}

